* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
/* img {
 width: 6%;
} */
body {
 font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 background-color: rgb(41, 41, 150);
 color: white;
}
.logo {
 width: 14%;
}
.center-img {
 width: 100%;
}
.wrapper {
 width: 85%;
 margin: 0 auto;
}
.wrapper-flex {
 display: flex;
 flex-direction: column;
}
.upper {
 display: flex;
 justify-content: space-between;
}
.center {
 display: flex;
 justify-content: space-between;
}
.lettering {
 width: 50%;
 margin-top: 4em;
}
.can-display {
 width: 40%;
}
.social-link {
 width: 10%;
 display: flex;
 flex-direction: column;
 justify-content: center;
}



/* TYPOGRAPHY */ 
/* NAV */
nav ul {
 margin-top: 40px;
 list-style: none;
  display: flex;
}
nav ul li {
 margin-right: 40px;
}
nav a {
 text-decoration: none;
 color: white;
 font-weight: 500;
}

.wordings {
 font-size: 3.5rem;
 font-weight: 800;
 line-height: 1.5em;
}
.wordings-bold {
 font-size: 7rem;
}
.texting {
 font-size: .9rem;
 font-weight: 400;
 margin-right: 5em;
 margin-bottom: 1.2em;
}
.product {
 text-decoration: none;
 background-color: white;
 color: rgb(21, 21, 121);
 padding: .5em;
 border-radius: 50px;
 box-shadow: 5px 5px rgb(21, 21, 110);
}
.product:hover {
 background-color: red;
 color: white;
}
.social-icon {
 margin-left: 2em;
 margin-top: 1em;
 width: 20%;
 cursor: pointer;
}
.bottom {
 display: flex;
 justify-content: center;
 cursor: pointer;
 margin-top: 2em;
}
.bottom-image {
  width: 80px;
  transition:all 1s;
}
.bottom-image:hover {
  width: 100px;
}
.b-imag3 {
  width: 13.5%;
}

@media (max-width: 875px) {
  .upper {
    display: flex;
    flex-direction: column;
    background-color: rgb(23, 23, 71);
  }

  .logo {
    width: 20%;
    position: relative;
    left: 35%;
  }

  nav ul {
    flex-direction: column;
    display: block;
    background-color: rgb(23, 23, 71);
    text-align: center;
    margin-top: 0;
  }

  nav ul li {
    padding-bottom: .8em;
  }

  nav ul li:hover,
  nav ul li:active {
    background-color: blue;
    margin-right: 0px;
  }

  .center {
    flex-direction: column;
    width: 100%;
  }

  .lettering {
    text-align: center;
    width: 100%;
  }

  .can-display {
    display: flex;
    text-align: center;
    order: -1;
    position: relative;
    left: 100px;
    width: 60%;
    margin-bottom: -70px;
  }
  .texting {
    margin-right: 0;
  }
  .social-link {
    margin-top: 1em;
    position: relative;
    left: 180px;
    flex-direction: row;
    width: 100px;
  }
  .wordings {
    font-size: 2.5rem;
  }
}
